.custom-form .leaflet-popup-content-wrapper {
  background: transparent !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

.custom-form .leaflet-popup-content {
  margin: 0 !important;
}

.custom-form .leaflet-popup-tip {
  display: none !important;
}
